

/* VIDEO BUCLE*/
.imgbanner
{
    /* relative sigue el flujo normal (ocupa espacio), se puede mover con top/left desde su posicion originall sin afectar a sus hermanos */
    position: relative;
    width: 100%;
    /* vh es viewport heigh, 1vh=1% de la altura de la ventana del navegador, sin importar que este pasando con los padres */
    height: 100vh;
    /* con el hidden nos dice que si algo sobresale de la caja se recorta */
    /* en este caso recorta segun lo valores que pusimos en width  y el vh del height */
    overflow: hidden;
}

.hero-img
{
    width: 100%;
    height: 100%;
    /* hace que el video crezca lo necesario para llenar esa ventana aunque se pase de tamaño */
    object-fit: cover;
}


.prenda-wrap-listado {
    height: auto;
    margin-bottom: 2em;
}

.nombre-seccion {
    position: absolute;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: clamp(1rem, 1.8vw, 1.1rem);
    color: white;
    top: 89%;
    margin-left: 3em;
}

.descripcion-seccion {
    position: absolute;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 1.8vw, 1rem);
    color: white;
    top: 92%;
    margin-left: 3em;
    opacity: 90%;
}