.prenda-card
{
    max-width: 280px;
}

.prenda-imagen-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 25em;
}

.prenda-imagen 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transform: scale(1.2);
}

.btn-favorito
{
    position: absolute;
    top: 0.6em;
    right: 0.6em;
    z-index: 2;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.favicon
{
    width: 3em;
    height: 3em;
}

.prenda-info
{
    display: flex;
    align-items: flex-start;
    gap: 5em;
}

.prenda-nombre
{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 1vw, 2rem);
}

.prenda-marca
{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 1vw, 2rem);
}

.prenda-precio
{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 1vw, 2rem);
    margin: 0;
}

.carrusel-wrap {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    gap: 7em;
    align-items: center;
    justify-content: center;
}

.carrusel-fila {
    display: flex;
    gap: 10em;
}

.buttons-move-card img {
    width: clamp(20px,1.5vw,20px);
    height: clamp(20px,3.5vw,30px);
    filter: brightness(0) invert(1);
    display: flex;
}

.buttons-move-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.377);
    width: 4.2em;
    height: 4.2em;
    border: none;
    border-radius: 5em;
    cursor: pointer;
}

.card-link {
    text-decoration: none;
    color: black;
}